.filter {
	@include flex-mother(row, center, space-between);
	height: 10rem;
	@include mq(map-get($mq-breakpoints, 'mobile')) {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}
	&__input {
		@include flex-mother();
		width: 40%;
		min-width: 25rem;
		height: 5rem;
		background-color: map-get($colors, 'clr--white');
		box-shadow: 0 1px 6px map-get($neutral-colors, 'clr--shadow-first'),
			0 1px 8px map-get($neutral-colors, 'clr--shadow-second');
		@include mq(map-get($mq-breakpoints, 'mobile')) {
			width: 80%;
			margin: 4rem 0;
		}
		.input {
			height: 100%;
			padding-left: 1rem;
			flex-grow: 1;
			border: none;
			font-size: 1.5rem;
		}
	}
	&__icon {
		@include flex-mother();
		font-size: 2rem;
		width: 15%;
	}
}
