@import './../../styles/abstracts/variables';
@import './../../styles/abstracts/mixins';
@import './../../styles/utils/placeholders';

.region {
	position: relative;
	width: 20rem;
	height: 5rem;
	background-color: map-get($colors, 'clr--white');
	box-shadow: 0 1px 6px map-get($neutral-colors, 'clr--shadow-first'),
		0 1px 8px map-get($neutral-colors, 'clr--shadow-second');
	@include flex-mother(column);
	&__heading {
		@include flex-mother(row, center, space-between);
		width: 100%;
		padding: 0 2rem;
	}
	&__title {
		font-size: 1.4rem;
	}
	&__icon {
		@extend %btn;
	}
	&__options {
		@include positioning(absolute, 110%, 0);
		background-color: map-get($colors, 'clr--white');
		box-shadow: 0 1px 6px map-get($neutral-colors, 'clr--shadow-first'),
			0 1px 8px map-get($neutral-colors, 'clr--shadow-second');
		width: 100%;
		list-style: none;
		transform: scale(0);
	}
	&__option {
		@include flex-mother(row, center, flex-start);
		height: 4rem;
		padding-left: 2rem;
		font-size: 1.4rem;
		cursor: pointer;
	}
}
